html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;    
    color: hsl(218, 44%, 22%);
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.attribution {
    a { color: hsl(228, 45%, 44%); }
    font-size: 11px; text-align: center;
}
.card {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    width: 500px;
    border-radius: 10px;    
    text-align: center;

    img {
        border-radius: 10px;
        max-width: 100%;
    }
}

.gray {
    color: hsl(220, 15%, 55%);
    font-size: large;
}